:root {
  --main-bg-color: #34353b;
}

.sidebar {
  background-color: var(--main-bg-color);
  transition: margin-left 2s;
  position: fixed;
  overflow: auto;
  width: 20vw;
  top: 0;
  bottom: 0;
  right: 0;
  display: none;
}

.sidebar > ul > li {
  white-space: nowrap;
}

.btnBox {
  position: fixed;
  top: 40vh;
  right: 20vw;
  background: var(--main-bg-color);
  color: #fff;
}

.btnBox > button {
  border: 0;
  height: 75px;
  background: var(--main-bg-color);
  cursor: pointer;
}

.btnBox-hide {
  right: 0vw;
}

.query > .filter {
  text-align: center;
  /* background-color: #fff; */
  /* margin: auto; */
  /* left: 0; */
  /* right: 0; */
}

.query [name="not-condition"]:checked + span {
  font-weight: bold;
  color: red;
}

.query > .preview {
  display: none;
}

.query > .preview[name="cover"] > img {
  position: fixed;
  max-width: 25vw;
  max-height: 50vh;
  right: 2vw;
  top: 2vh;
}

.query > .preview[name="tags"] {
  position: fixed;
  padding: 5px 0;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid #6f6f6f4d;
  left: 0;
  top: 0;
  background: var(--main-bg-color);
  white-space: pre-wrap;
  display: none;
  max-width: 25vw;
}

.datalist > ol {
  list-style: none;
  counter-reset: datalistOrder;
  max-height: 20vh;
  overflow: auto;
}

.datalist > ol > li {
  cursor: pointer;
}

.datalist > ol > li::before {
  padding: 0 8px;
  content: counter(datalistOrder) ".";
  counter-increment: datalistOrder;
  font-weight: bold;
}

.datalist > ol > li::after {
  padding: 0 8px;
  content: attr(cname);
  /* font-size: 10px; */
  font-weight: bold;
  color: #00a8cc;
}

.datalist > ol > li:hover,
.datalistHover {
  color: #f00;
  font-weight: bold;
  font-size: large;
}

a,
.result button,
.result input[type="button"] {
  background: none;
  text-decoration: none;
  padding: 0;
  color: #ccc;
  border: solid 1px -webkit-link;
  cursor: pointer;
  margin: 0 1px;
  font-size: 12px;
}

.result,
.result div {
  scroll-behavior: smooth;
}

.tableBody {
  overflow: auto;
}

.result table {
  border-spacing: 0;
}

.result table,
.result table th,
.result table td {
  border: solid 1px black;
}

.result table tr:hover > td,
.result table .trHover > td {
  color: #ccc !important;
  background-color: #000 !important;
}

.result table tr[star="1"],
.result table tr[star="1"] > td {
  background-color: #8cba51;
  color: #1b262c;
}

.result table tr[exists="false"] > td:nth-child(1) {
  background: #512b58 !important;
}

.result tr[star="1"] button[name="star"]::before {
  content: "🖤";
}

.result tr[invisible="1"] {
  position: absolute;
  left: -9999px;
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
}

.result tr[raw-invisible="1"] {
  opacity: 0.5;
}

.result tr button[name="star"]::before {
  content: "❤️";
}

.result tr a[name="delete"]::before {
  content: "🗑️";
}

.result tr a[name="empty"]::before {
  content: "🈳";
}

.result tr a[name="native"][href^="./src/viewer.html?file="]::before {
  content: "📚";
}

.result
  tr
  a[name="native"][href^="./src/viewer.html?file="][href*="&condition="]::before {
  content: "📜";
}

.result tr a[name="native"][href^="./src/index.html?condition="]::before {
  content: "🐬";
}

.result tr button[name="clear"]::before {
  content: "🧹";
}

.result tr a[name="item"]::before {
  content: "📁";
}

.result tr button[name="invisible"]::before {
  content: "🏴";
}

.result tr a[name="everything"]::before {
  content: "🔍";
}

.result td[name="rating"] {
  background-position: 0 100%;
  background-size: auto 50%;
  background-repeat: no-repeat;
}

.pager {
  display: none;
  text-align: center;
}

.pager > * {
  cursor: pointer;
  margin: 0 4px;
}

.pager > .disabled {
  color: gray;
  cursor: not-allowed;
}

.pager > .first::before {
  content: "|<";
}

.pager > .prev::before {
  content: "<<";
}

.pager > .next::before {
  content: ">>";
}

.pager > .last::before {
  content: ">|";
}

.pager > .pagedisplay::after {
  content: " / " attr(max);
}

.pager > .pagedisplay input {
  max-width: 1em;
}

.pager > .pagedisplay input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
