node_modules
@private
*.temp
*.doing
*.redoing
*.starting
*.private
*.backup.js
build
.env
/dayi/data
/dayi/dayi.zip
webVideo/chrome-win
webVideo/chrome-win.zip
videoTagger/img/tagger/*.jpg
comicBrowser/*.sql.gz
sync.ffs_db
