html,body,#sidebar,#sidebar,#main,#main>iframe{height:100%;}
body{overflow:hidden;}
#sidebar,#main,#main>iframe{width:100%;}

a:link,a:visited{color:#0000EE!important;}

#sidebar{float:left;}
.icon{margin-bottom:-3px;}
#seachContainer{display:flex;align-items:center;justify-content:center;height: 24px;}
#languageIcon{margin-right:-4px;}
#language{width:72px;}
#result{height: calc(100% - 32px);overflow:auto;}
#result>ol{list-style:none;}
#result>ol>li{margin-left:-40px;white-space:nowrap;}

#main{float:left;}
#main>iframe{display:none;}
